.announcement-detail-layout {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--layout-height-full);
  overflow-y: auto;
  background-color: var(--bg-body);
  -webkit-overflow-scrolling: touch;
}
